@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) /*Versão Tablet*/{
    section#login {
      width: 70vw;
      transition: 0.3s;
    }

    section#login > div#imagem {
        float: left;
        width: 200px;
        height: 100%;
        background-position: top center;
        margin-right: 15px;
    }

    body,html {
        background-image: linear-gradient(to top, var(--cor001), var(--cor002));
    }
    div#formulario > h1 {
        margin-bottom: 5px;
     }
}

@media screen and (min-width: 992px) { /*Versão pc*/
    section#login {
        width: 800px;
        height: 450px;
        transition: 0.3s;
      }
  
      section#login > div#imagem {
          float: right;
          width: 400px;
          height: 100%;
          background-position: top center;
          margin-right: 30px;
      }
  
      body,html {
          background-image: linear-gradient(to top, var(--cor001), var(--cor002));
     }

     div#formulario > h1 {
        margin-bottom: 10px;
     }
}