@charset "UTF-8";

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor001: rgb(0, 203, 0);
    --cor002: rgb(1, 127, 1);
    --cor003: rgb(94, 252, 94);
}

body, html {
    background-color: var(--cor002);
    width: 100vw;
    height: 100vh;
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/logos.png);
    height: 200px;
    background-size: cover;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    display: block;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 250px;
    height: 500px;
}

section#login > div#formulario {
    padding: 10px;
}
